/* START GLOBAL - FOR DEMO */
html,body,div,span,applet,object,iframe,input,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
	margin:0;
	padding:0;
	border: 0px;
}

body
{
    font-family: 'Times New Roman' , Times, serif;
}

fieldset {
    min-height: 220px;
    border: 1px solid #DDD;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    border-radius: 3.2px;
    -webkit-border-radius: 3.2px;
    -moz-border-radius: 3.2px;
}

legend {
    color: rgb(33, 77, 133);
    text-shadow: -0.5px -1px 1px #CDCDCD;
    font-size: 1.2em;
    font-weight: bold;
}

.editor-label {
    width:200px;
    float:left;
    text-align:right;
    padding-right:10px;
    vertical-align: top;
    margin: 1em 0 0 0;

    text-shadow: 0px 1px 1px whitesmoke;
}

.editor-field {
    width:360px;
    float:left;
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.error, .field-validation-error {
    color: #d04437 !important;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    /*border: 1px solid #d04437;*/
    background-color: rgb(255, 240, 239) !important;
}

.validation-summary-errors {
    font-weight: bold;
    color: #d04437;
    border: 1px solid #d04437;
    border-radius:3.2px;
    -moz-border-radius: 3.2px;
    -webkit-border-radius: 3.2px;

    padding:10px 10px 15px 20px;
}

.validation-summary-valid {
    display: none;
}

.aui-message .icon-error {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA00lE…+RbJmF6nyrXINEuprftd2lSf+TP4xC476Bk/QUAtt/g8cmyvPgMzXPwAAAABJRU5ErkJggg==');
}
/* end validate */

/* default styles */
p {	margin: 0 0 5px 0; }
h1 { text-shadow: -2px -2px 5px rgba(0, 0, 0, .2);	font: bold 2.2em Arial, Sans-Serif; padding: 8px 0 0 0; margin: 0; letter-spacing: -1px; color: rgb(55, 97, 160); }
h2 { text-shadow: 1px 1px 1px rgba(0, 0, 0, .2); margin: 0; padding: 0; font: bold 1.8em Arial, Sans-Serif; letter-spacing: -1px; color: rgb(55, 97, 160);  }
h3 { text-shadow: 1px 1px 1px rgba(0, 0, 0, .2); margin: 0; padding: 0; font: bold 1.4em Arial; letter-spacing: 0px; color: rgb(55, 97, 160);  }
h1 a, h2 a { color: #000; background: inherit; text-decoration: none; }
ul { margin: 0; padding : 0; list-style : none; }
img { border: 0; }

.cleared {
    clear:both;
}

h1 {
	font-size:50px;
	margin:30px 0;	
}

p {
	margin:0;
	padding:10px;
	text-align:justify;
	font-size:14px;
	line-height:22px;
}

a {
    cursor:pointer;
	color:#fff;
	text-decoration:none;	
}


.mt-block2, .mt-b2 {
	width:210px;
	height:100px;
	margin-top:20px;
}
.mt-b2-content {
	width:190px;
	height:55px;
	margin:10px;
	position:relative;
}
.mt-height1 {
	line-height:100px;
}
.mt-scene-label {
	font-size:20px;
	text-align:center;
	font-family: 'Dosis', Sans-Serif;
	display:block;
	margin:0px;
	padding:0px;
	position:relative;
}

.mt-scene-label img {
	vertical-align: middle;
	margin:0px;
	padding:0px;
	position:relative;	
}
.mt-gradient {
	background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.3))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0) 00%,rgba(255,255,255,0.3) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%); /* IE10+ */
	background: linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%); /* W3C */
}

.thumbnails { float:left; width:145px; height:108px; margin-bottom:10px; margin-right:10px; }
.thumbnails img { max-width:145px;} 

.left { float:left; }
.hs { float:left; width:10px; height:100px; }

/* END GLOBAL */




/* START METRO PANEL - REQUIRED */

#metropanel {
	width:300px;
	position:fixed;
	z-index:9998;
	display:none;
}
#mp-headerpanel {
	margin-bottom:20px;
}
#mp-sitename
{
    font-family: 'Times New Roman' , Times, serif;
    color: #fff;
    padding: 20px;
}
#mp-sitename span {
	font-size:40px;
}
#mp-sitename img {
	vertical-align:top;
	display:block;
	float:right;
}
#mp-searchzone {
	position:relative;
	background:#fff;
	padding:5px;
	width:250px;
	height:30px;
	margin:0px 20px;
}	

#mp-searchbox {
	width: 210px;
	padding:5px 0px 5px 0px;
	height:20px;
	font: 18px Tahoma;
	color: #777;
	float: left;
	position:relative;
	top:0px;
	border:0px;
}
#mp-search_bt {
	float: right;
	background:#06C url(/Images/metro-icons/search-white-30.png) no-repeat;
	width:30px;
	height:30px;
	position:relative;
	top:0px;
	cursor:pointer;
	border:0px;
}

#mp-menus, #mp-submenus, #mp-recentitemholder {
	margin:0px;
	padding:0;
	list-style:none;
/*	overflow:hidden;*/
	position:relative;
}
.mp-menu, .mp-submenu, .mp-recentitem {
	padding:0px;
	margin:0px;
	position:relative;
	z-index:9998;
	width:100%;
}
.mp-menu a, .mp-submenu a, .mp-recentitem a {
	padding:10px 20px;	
	display:block;
	position:relative;
	/*height:48px;*/
	
}
.mp-icons {
	width:32px;
	height:32px;
	padding:8px;
	display:block;
	float:left;
}
.mp-menu span, .mp-submenu span, .mp-recentitem span
{
    display: block;
    float: left;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 24px;
    font-family: 'Times New Roman' , Times, serif;
    color: #fff;
}


.mp-selecteditem {
	display:none;	
}

#mp-footerpanel{
	position:fixed;
	z-index:9999;
	bottom:0px;
	width:280px;
	height:48px;
	padding:10px;
}
#mp-collapse {
	width:48px;
	height:48px;
	cursor:pointer;
}
#mp-togglemenus {
	width:48px;
	height:48px;
	cursor:pointer;
}
.mp-leftarrow {
	background:url(/Images/metro-icons/arrow-left-48.png) no-repeat;
	float:left;
}
.mp-rightarrow {
	background:url(/Images/metro-icons/arrow-right-48.png) no-repeat;
	float:right;
}
.mp-minus {
	background:url(/Images/metro-icons/minus-circle-48.png) no-repeat;
}

#mp-expand {
	position:fixed;
	z-index:9999;
	bottom:0px;
	width:48px;
	height:48px;
	padding:10px;
}
#mp-expand-bt {
	width:48px;
	height:48px;
	cursor:pointer;
	background:url(/Images/metro-icons/logo.png) no-repeat center center;
}

#mp-submenusholder {
	width:300px;
	position:fixed;
	z-index:9997;
	display:none;
}

/* Solid Colors */
.solid-blue { background:#00BBE2; }
.solid-darkblue { background:#044E94; }
.solid-violetred { background:#781766; }
.solid-red { background:#E51400;}
.solid-purple { background:#D02090; }
.solid-orange { background:#FB8F02; }
.solid-orange-2 { background:#FF6600; }
.solid-coral { background:#CD5B45; }
.solid-green { background:#67B239; }
.solid-olive { background:#999900}
.solid-grass { background:#CDCD00; }
.solid-darkred { background:#5F0000; }
.solid-gold { background:#FEE9AE; }
.solid-black { background:#000; }
.solid-smoke { background:#F5F5F5; }
/* End Solid Colors */
.solid-light {
    background: rgb(234, 255, 254);
}

/* Transparent Colors */
.transparent-deepsea {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33003564, endColorstr=#33003564);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33003564, endColorstr=#33003564)";/* For IE 8*/
	background: rgba(0,53,100,0.2);/* Modern browser */
}
.transparent-smoke {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33f5f5f5, endColorstr=#33f5f5f5);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33f5f5f5, endColorstr=#33f5f5f5)";/* For IE 8*/
	background: rgba(245,245,245,0.2);/* Modern browser */
}
.transparent-grass {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33CDCD00, endColorstr=#33CDCD00);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33CDCD00, endColorstr=#33CDCD00)";/* For IE 8*/
	background: rgba(205,250,0,0.2);/* Modern browser */
}
.transparent-black {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000)";/* For IE 8*/
	background: rgba(0,0,0,0.2);/* Modern browser */
}
.transparent-red {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FF0000, endColorstr=#33FF0000);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FF0000, endColorstr=#33FF0000)";/* For IE 8*/
	background: rgba(255,0,0,0.2);/* Modern browser */
}
.transparent-violetred {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33D02090, endColorstr=#33D02090);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33D02090, endColorstr=#33D02090)";/* For IE 8*/
	background: rgba(208,32,144,0.2);/* Modern browser */
}
.transparent-green {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3367B239, endColorstr=#3367B239);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3367B239, endColorstr=#3367B239)";/* For IE 8*/
	background: rgba(103,178,57,0.2);/* Modern browser */
}
.transparent-yellow {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFF00, endColorstr=#33FFFF00);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFF00, endColorstr=#33FFFF00)";/* For IE 8*/
	background: rgba(255,255,0,0.2);/* Modern browser */
}
.transparent-orange { 
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FB8F02, endColorstr=#33FB8F02);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FB8F02, endColorstr=#33FB8F02)";/* For IE 8*/
	background: rgba(251,143,2,0.2);/* Modern browser */
}
.transparent-coral {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33CD5B45, endColorstr=#33CD5B45);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33CD5B45, endColorstr=#33CD5B45)";/* For IE 8*/
	background: rgba(205,91,69,0.2);/* Modern browser */
}
.transparent-wheat {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33EED8AE, endColorstr=#33EED8AE);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33EED8AE, endColorstr=#33EED8AE)";/* For IE 8*/
	background: rgba(238,216,174,0.2);/* Modern browser */
}
.transparent-redwine {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#338B0000, endColorstr=#338B0000);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#338B0000, endColorstr=#338B0000)";/* For IE 8*/
	background: rgba(139,0,0,0.2);/* Modern browser */
}
/* End Transparent Colors */


/* END METRO PANEL */


/* START CONTENT - REQUIRED*/
#mp-contentholder {
	width:620px;
	padding:0px;
	background:#fff;
	display:none;
	position:relative;
    color:#4b4b4b;
    font-size:14px;
    line-height:22px;
}

    #mp-contentholder .hight {
        color: rgb(0, 214, 255);
    }

    #mp-contentholder .blue {
        color: rgb(0, 10, 207);
    }


    #mp-contentholder a {
        color: rgb(0, 158, 207);
    }
    #mp-contentholder a:hover {
        color: gray;
    }

    #mp-contentholder .webGrid {
        font-size:12px;
    }

    #mp-contentholder .webGrid a {
        color: #2F637A;
        text-decoration:underline;
    }

    #mp-contentholder .webGrid a:hover {
        color: gray;
        text-decoration: none;
    }

#mp-loading {
	position:absolute;
	width:64px;
	height:64px;
	top:20px;
	z-index:9999;
    left:320px;
	display:none;
}
#mp-contentStation {
	display:none;	
}
/* END CONTENT */


/* Styles input
 ----------------------------------------------------------*/
.input {
    width:inherit;
    max-width:300px;
    padding:5px;
    outline: none;
    border: 1px solid #CDCDCD;
    background-color: #FFF;
    color: #1c4257;
    width: 90%;
}

.input:hover  {
    border: 1px solid #0063DC;
    box-shadow: inset 0 1px 3px #CCC;
}

.input:focus{
    border: 1px solid rgb(117, 161, 238);
    box-shadow: inset 0 1px 3px #ccc;
    background: transparent;
}

/* START jScrollPane - REQUIED */
.jspContainer {
	overflow: hidden;
	position: relative;
	border:0;
}

.jspPane {
	position: absolute;
	width:100% !important;
}

.jspVerticalBar {
	position: absolute;
	z-index:9999;
	top: 0;
	right: 0;
	width: 5px;
	height: 100%;
}

.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 14px;
}

.jspVerticalBar *,
.jspHorizontalBar * {
	margin: 0;
	padding: 0;
}

.jspCap {
	display: none;
}

.jspHorizontalBar .jspCap {
	float: left;
}

.jspTrack {
	position: relative;
}

.jspDrag {
	background-color: rgba(0, 31, 0, 0.5);
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
	float: left;
	height: 100%;
}

.jspArrow {
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled {
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow {
	height: 16px;
}

.jspHorizontalBar .jspArrow {
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus {
	outline: none;
}

.jspCorner {
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
	margin: 0 -3px 0 0;
}
/* END jScrollPane */



/* MISC */
.clearspace { clear:both; }
.breakline {
	width:260px;
	height:5px;
	margin:20px;
}

.center {
    text-align:center;
}

/* css popup */
.headForm{
    background: #060;
    font-weight: bold;color: whitesmoke;
    font-size: 16px;padding: 8px 20px;
}

.popup, .bmulti {
    /*background-color: white; */
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    min-height: 20%;
    min-width: 20%;
    padding: 10px;
}

iframe{
    height: 100%;
    width: 100%;
}

.content{
    position:relative;
    overflow-x: hidden;
    overflow-y: auto;
    background:WhiteSmoke;
    padding:5px 10px;
    font-size:14px;
}

.contentPopup{
    position:relative;
    overflow-x: hidden;
    overflow-y: auto;
    background:WhiteSmoke;
    height: 90%;
    width: 100%;
}

.bClose {
    position: absolute;
    right: 16px;
    top: 16px;
    z-index:1;
    vertical-align: middle;
    text-align:center;
    padding:2px;
    width:20px;
    height:20px;
    cursor:pointer;
}
.bClose:hover {
    box-shadow: inset 0 1px #FFF, 0 2px 2px #000;
    background: rgba(0, 0, 0, .2);
    text-shadow: 0 0 12px #2054DA, 0 1px #FFF;
}
    .bClose:active {
        box-shadow:none;
    }

/* end popup */