a {
	color:#408e07;
}
.ambitios_footer_widget {
	border-right:1px solid #6ca840;
}
.ambitios_news_block {
	border-bottom:1px solid #6ca840
}
.ambitios_comments strong{
	color:#408e07
}
ol li {
	color:#408e07
}
 