body
{
    background-image: url("/images/bg-block1.png");
    background-repeat: repeat-x;
}


.padding_none
{
    padding:0px;
}
.paddingL_none
{
    padding-left:0px;
}
.paddingR_none
{
    padding-right:0px;
}
.margin_none
{
    margin:0px;
}

header, footer
{
    background:#F5F5F5;
    color:#FFF;
}

.max-width-win
{
    max-width:1024px;
}

.header-top
{
    border-top:2px solid #ddd;
    border-bottom: 2px solid #ddd;
}
        
.logo
{
    margin-top:10px;
    font-size:20px;
}

.title-bar
{
    background:#FFF; padding:8px 5px; margin:10px auto 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color:#333;
}
        
.linkImage
{
    float: left; height: 100px; width: 120px; margin: 0px 5px 5px 0px;
}

        
.item_type
{
    border-bottom: 1px dotted #CCC;
}

.home
{
    background: transparent url("/images/home.png") no-repeat;
    display: inline-block;
    float: left;
    padding-left: 25px;
    color: #777;
    margin-left: 0px;
}
        
.split {
    background: transparent url("/images/next-icon.png") no-repeat;
    display: inline-block;
    float: left;
    padding-left: 15px;
    color: #777;
    margin-left: 15px;
}

.bg-main
{
    background-color: #003300;
    background-image: linear-gradient(to bottom, #4BA614, #008C00);
    color: #FFF !important;
    border-color: #4BA614;
}

.bg-main a {
    color: #FFF;
    text-decoration: none;
}

a {
    color: #1B8000;
    text-decoration: none;
}

a#scrollUp {
  bottom: 0px;
  right: 10px;
  border:0px;
}


/*** override bootstrap  ***/
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    color: #333;
    background-color: #BCF297;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover 
{
    color: #333;
    background-color: #BCF297;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover 
{
    color: #333;
    background-color: #BCF297;
}

.dropdown-menu > li > a 
{
    padding:10px 20px;
}

.panel-default {
    border-color: #4BA614;
}

.pagination a.selected
{
    background:#DDD;
}

/*** Comment ***/

.comment .item
{
    padding:5px;
    border-bottom: 1px solid #F7F7F0;
    border-radius: 3px;
}
.comment .item:nth-child(odd) {
    background: none;
}

.comment .item:nth-child(even) {
    background: #FBFBFB;
    border-radus: 3px;
} 
        
.postcomment
{
    padding:5px;
}
        
